.crew_wrapper {
  padding-bottom: 0;
  background: url("../../public/crew/background-crew-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  @include breakpoint-down(small) {
    background: url("../../public/crew/background-crew-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.crew_container {
  grid-template-columns: 60% auto;
  justify-items: start;
  margin-bottom: 0;
  @include breakpoint-down(small) {
    gap: 0;
  }
}

.left_content_container {
  margin-bottom: 5rem;
  @include breakpoint-down(medium) {
    align-items: center;
  }
  @include flex-column-gap(2rem);
  h5 {
    margin-bottom: 2rem;
  }
  h4 {
    text-transform: uppercase;
    opacity: 0.5042492151260376;
  }
  h3 {
    margin-top: -1.5rem;
    text-transform: uppercase;
  }
  .body_text {
    width: 27.6rem;
    @include breakpoint-down(small) {
      width: auto;
    }
    min-height: 10rem;
    margin-top: -1rem;
  }
}

.crew_nav {
  display: flex;
  gap: 1.6rem;
  @include breakpoint-down(medium) {
    justify-content: center;
  }
}

.circle_nav_btn {
  border-radius: 100px;
  width: 20px;
  height: 20px;
  background: $tertiaryColor;
  opacity: 0.174362912774086;
  transition: 0.5s;
  &:hover {
    transition: 0.3s;
    opacity: 0.500094473361969;
  }
}

.crew_img {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;

  @include breakpoint-down(medium) {
    width: 40rem;
    height: 40rem;
  }
  @include breakpoint-down(small) {
    width: 80vw;
    height: 30rem;
  }
}
