html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}

::-webkit-scrollbar {
  width: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  color: white;
}

body {
  line-height: 1.3;
}

a,
a:visited,
a:hover {
  user-select: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

ul {
  list-style: none;
}

input {
  border: none;
  outline: none;
}

* button {
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.noscroll {
  overflow: hidden;
}

.main_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2rem 1rem;
  width: 100%;
  min-height: 100vh;
  z-index: -1;
  background: #0b0d17;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  position: relative;
  display: grid;
  grid-template-columns: 34% auto;
  margin: 10rem 150px 3rem 150px;
  align-items: center;
  justify-items: end;

  @include breakpoint-down(medium) {
    display: flex;
    flex-direction: column;
    gap: 7rem;
    text-align: center;
    margin: 10rem 0 3rem 0;
  }

  @include breakpoint-down(small) {
    margin-top: 6rem;
  }
}
