.header_nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
  height: 6rem;
  margin-right: 0;

  @include breakpoint-down(small) {
    margin: 0;
    padding: 2rem;
  }
}

.mobile_menu {
  @include flex-column_gap(2rem);
  display: none;
  position: absolute;
  right: 0;
  height: 100vh;
  width: 50vw;
  align-items: flex-start;
  z-index: 3;
  padding-top: 8rem;
  padding-left: 3rem;
  @include breakpoint-down(small) {
    padding-left: 0;
    padding-right: 15rem;
  }
}

.desktop_menu {
  display: flex;
  gap: 3rem;
  margin-right: 9rem;
  @include breakpoint-down(small) {
    display: none;
  }
  &::before {
    // display: none;
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    width: 50rem;
    height: 100%;
    backdrop-filter: blur(22px);
    background: rgba(255, 255, 255, 0.055);
  }
}

.logo {
  margin-left: 55px;
  @include breakpoint-down(small) {
    margin-left: 0;
  }
}

.nav_links {
  @include flex-center(row);
  gap: 0.5rem;
  background: none;
  @include nav_font;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 3px;
    top: 55px;
    background: $tertiaryColor;
    position: absolute;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    @include breakpoint-down(small) {
      top: 30px;
    }
  }

  &:hover {
    &::before {
      opacity: 0.5021478533744812;
    }
  }
}

.active {
  &::after {
    content: "";
    width: 100%;
    height: 3px;
    top: 55px;
    background: $tertiaryColor;
    position: absolute;
    transition: all 0.3s ease-in-out;

    @include breakpoint-down(small) {
      top: 30px;
    }
  }
}

.hamburger-react {
  display: none;

  @include breakpoint-down(small) {
    z-index: 4;
    display: block;
  }
}

.hamburger_menu {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  width: 70vw;
  height: 100vh;
  backdrop-filter: blur(22px);
  background: rgba(255, 255, 255, 0.055);
  z-index: 2;
}
