// FLEX-BOX MIXINS
@mixin flex-box($fd, $jc, $ai) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fd;
}

@mixin flex-column-gap($gap) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin flex-center($fd) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $fd;
}

// Desktop ONLY Hover
@mixin hoverEffect {
  @media (hover: hover) and (pointer: fine) {
    @content;
  }
}

// Breakpoints
@media (min-width: 64em) {
  // styles go here
}

// 640px, 1024px, 1400px
$breakpoints-up: (
  "medium": "40em",
  "large": "64em",
  "xlarge": "87.5em",
);

// 639px, 1023px, 1399px
$breakpoints-down: (
  "small": "50.9375em",
  "medium": "75.9375em",
  "large": "87.4375em",
);

@mixin breakpoint-up($size) {
  @media (min-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}

@mixin breakpoint-down($size) {
  @media (max-width: map-get($breakpoints-down, $size)) {
    @content;
  }
}
