.technology_wrapper {
  padding-right: 0;
  background: url("../assets/technology/background-technology-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  @include breakpoint-down(small) {
    padding-right: 1rem;
    background: url("../assets/technology/background-technology-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.technology_container {
  display: grid;
  grid-template-columns: auto 40% auto;
  height: 527px;
  margin-right: 0;
  @include breakpoint-down(medium) {
    order: 1;
    height: auto;
    display: flex;
    align-items: center;
  }
}

h6 {
  @include nav_font;
  font-weight: 400;
  @include breakpoint-down(small) {
    font-size: 14px;
  }
}

.heading_and_rightContent {
  height: 100%;
  @include flex-column-gap(6rem);
  @include breakpoint-down(small) {
    gap: 0;
    position: relative;
    bottom: 7rem;
  }
  @include breakpoint-down(medium) {
    order: 2;
  }
  // h5 {
  //   @include breakpoint-down(small) {
  //     position: absolute;
  //     top: -3rem;
  //     left: 0;
  //     margin: auto;
  //     right: 0;
  //   }
  // }

  .right_content_container {
    display: flex;
    @include breakpoint-down(medium) {
      flex-direction: column;
      gap: 3rem;
    }

    .content_container {
      margin: 0 5.5rem;
      @include breakpoint-down(small) {
        margin: 0;
      }
      h6 {
        color: $secondaryColor;
        margin-bottom: 0.5rem;
      }
      h3 {
        margin-bottom: 1rem;
        text-transform: uppercase;
      }
    }
  }

  .circle_nav_btn {
    width: 80px;
    height: 80px;
    background: none;
    position: relative;
    opacity: 1;
    font-size: 32px;
    font-family: Bellefair;
    &:before {
      content: "";
      position: absolute;
      border: 2px solid $tertiaryColor;
      opacity: 0.25;
      width: 100%;
      left: 0;
      top: 0;
      border-radius: 100px;
      height: 100%;
      transition: 0.9s;
    }
    &:hover {
      &:before {
        transition: 0.3s;
        opacity: 1;
      }
    }
  }
}

.content_image {
  width: 100%;
  height: 100%;
  background: url("../assets/technology/image-space-capsule-portrait.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  @include breakpoint-down(medium) {
    width: 30rem;
    height: 30rem;
  }
  @include breakpoint-down(small) {
    width: 86vw;
    height: 30rem;
  }
}

.tech_nav {
  @include flex-column-gap(1rem);
  @include breakpoint-down(medium) {
    flex-direction: row;
    justify-content: center;
  }
}

.fadeIn {
  transition: all 500ms;
  opacity: 1;
}

.technology_headings_container {
  @include breakpoint-down(small) {
    bottom: 31rem;
  }
}
