// Importing Fonts
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");

// Colours
$primaryColor: #0b0d17;
$secondaryColor: #d0d6f9;
$tertiaryColor: #ffffff;

// Typography & Fonts
h1,
h2,
h3,
h4 {
  font-family: "Bellefair", serif;
  color: $tertiaryColor;
  font-weight: 400;
  text-transform: uppercase;
}

h1 {
  font-size: 150px;
  @include breakpoint-down(small) {
    font-size: 80px;
  }
}
h2 {
  font-size: 100px;
  @include breakpoint-down(small) {
    font-size: 56px;
  }
}
h3 {
  font-size: 56px;
  @include breakpoint-down(small) {
    font-size: 24px;
  }
}
h4 {
  font-size: 32px;
  @include breakpoint-down(small) {
    font-size: 16px;
  }
}

h5 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 28px;
  letter-spacing: 4.725px;
  color: $tertiaryColor;
  font-weight: 400;
  text-transform: uppercase;
  @include breakpoint-down(small) {
    font-size: 16px;
  }
}

.subHeading_1 {
  font-family: "Bellefair", serif;
  font-size: 28px;
}

.subHeading_2 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 14px;
  letter-spacing: 2.362px;
  color: $secondaryColor;
}

@mixin nav_font {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  letter-spacing: 2.7px;
}

.body_text {
  color: $secondaryColor;
  font-size: 18px;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  line-height: 32px;
  @include breakpoint-down(small) {
    font-size: 15px;
    line-height: 28px;
  }
}

.privacy-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $primaryColor;
  z-index: 2;
  height: 100%;
  width: 100%;
}

.headings_container {
  display: flex;
  gap: 28px;
  position: relative;
  @include breakpoint-down(small) {
    gap: 10px;
    right: 6px;
  }
  .number_heading {
    opacity: 0.25;
    font-weight: 700;
  }
}
